[submodule "packages/pact-startos"]
	path = packages/pact-startos
	url = https://github.com/islandbitcoin/pact-startos.git
[submodule "packages/kathreftestr-startos"]
	path = packages/kathreftestr-startos
	url = https://github.com/islandbitcoin/kathreftestr-startos.git
[submodule "umbrel/atoll-store"]
	path = umbrel/atoll-store
	url = https://github.com/islandbitcoin/atoll-store.git
[submodule "packages/phoenixd-startos"]
	path = packages/phoenixd-startos
	url = https://github.com/islandbitcoin/phoenixd-startos.git
[submodule "packages/maple-proxy-startos"]
	path = packages/maple-proxy-startos
	url = https://github.com/islandbitcoin/maple-proxy-startos.git
